* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono";
    min-height: 25px;
}

@import "/home/candy/.cache/wal/colors-waybar.css";

#custom-appmenu {
    color: @primary;
    font-size: 20px;
    padding: 0 10px;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 0 15px 15px 0;
  margin-bottom: 5px;
  background: @color0;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 0 15px 15px 0;
  background: @color0;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: @color0;
}

#waybar .modules-left > widget > label,
#waybar .modules-center > widget > label,
#waybar .modules-right > widget > label,
#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#workspaces,
#custom-appmenu,
#custom-browser,
#custom-files,
#custom-word,
#custom-power,
#custom-manga,
#clock {
        min-width: 35px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#workspaces,
#custom-appmenu,
#custom-browser,
#custom-files,
#custom-word,
#custom-power,
#custom-manga,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 3px;
}

#battery,
#custom-appmenu,
#custom-browser,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#workspaces,
#custom-appmenu,
#custom-browser,
#custom-files,
#custom-word,
#clock,
#custom-manga{
	color: @urgent;
}

#pulseaudio.muted {
  color: @inactive;
  padding-top: 0;
}

#battery.charging {
    color: @color15;
}

#battery.warning:not(.charging) {
    color: @secondary;
}

#battery.critical:not(.charging) {
    color: @urgent;
}

#custom-power {
	background-image: url('/home/candy/.config/waybar/Nyarch.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

}
